<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update menu</title>
</head>
<body>
      <form action="updating_menu" method="get">
       <h3 style="text-align: center;">
         Enter the Food ID : <input type="text" inputmode="numeric" name="foodId" required> <br>  
         Food name : <input type="text" name="foodName" required> <br>
         Food Type : <select name="foodType" required>
                        <option value="" disabled selected>select the food type</option>
                        <option value="Veg">Veg</option>
                        <option value="Non-Veg">Non-Veg</option>
                     </select> <br>
         Food Period : <input type="text" inputmode="numeric" name="foodPeriod" required> <br>
         Food Price :  <input type="text" inputmode="numeric" name="foodPrice" required> <br>      
         
         <button type="submit"> Update </button> <br>
       </h3>
      </form>
</body>
</html>